# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# PyTorch model checkpoints
*.pt
*.pth
*.ckpt

# Dataset
/*/data
/*/*/data

# Environment files
.env
.venv/
venv/
ENV/
env/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Cache and temporary files
*.tmp
*.swp
*.swo

# PyTorch Lightning cache (if using)
lightning_logs/

# Other
*.onnx
*.bak

/myenv
/src/Shallow_nn/myenv_3.10
.gz


